<footer class="container-fluid text-white">
    <div id="wrapper" class="row pl-5 pr-5">
        <div id="quickLinks" class="mt-3 col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <div class="mb-3"><strong class="footerTitle">Quick Links</strong></div>
            <ul id="quickLinksList" class="list-unstyled m-0 p-0">
                <li><a class="text-decoration-none text-reset" href="/institute/gallery">Gallery</a>
                    <!---->
                    <!---->
                </li>
                <li><a class="text-decoration-none text-reset" href="/forms">Forms for Download</a>
                    <!---->
                    <!---->
                </li>
                <li><a class="text-decoration-none text-reset" href="/people_nit">People at NITPY</a>
                    <!---->
                    <!---->
                </li>
                <li><a class="text-decoration-none text-reset" href="/academics/nad">NAD</a>
                    <!---->
                    <!---->
                </li>
                <li><a class="text-decoration-none text-reset" href="/womencell">Women Cell</a>
                    <!---->
                    <!---->
                </li>
                <li><a class="text-decoration-none text-reset" href="/institute/administration/stores">Stores and Purchase</a>
                    <!---->
                    <!---->
                </li>
                <li><a class="text-decoration-none text-reset" href="/idcard">ID Cards</a>
                    <!---->
                    <!---->
                </li>
                <li>
                    <!----><a class="text-decoration-none text-reset" href="https://www.nitpyalumni.com/home/index">Alumni</a>
                    <!---->
                </li>
                <li><a class="text-decoration-none text-reset" href="/research/nisp">NISP</a>
                    <!---->
                    <!---->
                </li>
                <li><a class="text-decoration-none text-reset" href="/scstobc_cell">SC/ST/OBC cell</a>
                    <!---->
                    <!---->
                </li>
                <li><a class="text-decoration-none text-reset" href="/institute/netandsys">Networks &amp; Systems</a>
                    <!---->
                    <!---->
                </li>
                <li>
                    <!----><a class="text-decoration-none text-reset" href="/assets/docs/holidays/List of Holidays for the year 2023.pdf">List of Holidays</a>
                    <!---->
                </li>
                <li><a class="text-decoration-none text-reset" href="/PublicGrievances">Public Grievances Cell</a>
                    <!---->
                    <!---->
                </li>
                <li><a class="text-decoration-none text-reset" href="/students/medical">Medical Facilities </a>
                    <!---->
                    <!---->
                </li>
                <li><a class="text-decoration-none text-reset" href="/academics/physicalEducation">Physical Education</a>
                    <!---->
                    <!---->
                </li>
                <li><a class="text-decoration-none text-reset" href="/institute/administration/committeeList">List of committes</a>
                    <!---->
                    <!---->
                </li>
                <li><a class="text-decoration-none text-reset" href="/institute/administration/newsletter">PARIPRASHNA</a>
                    <!---->
                    <!---->
                </li>
                <li><a class="text-decoration-none text-reset" href="/campusconnect">Campus Connect Newsletter</a>
                    <!---->
                    <!---->
                </li>
                <li><a class="text-decoration-none text-reset" href="/institute/administration/bulletin">NITPY BULLETIN</a>
                    <!---->
                    <!---->
                </li>
                <li><a class="text-decoration-none text-reset" href="/library">Central Library</a>
                    <!---->
                    <!---->
                </li>
                <li>
                    <!----><a class="text-decoration-none text-reset" href="https://dasanit.org/dasa2021/">DASA</a>
                    <!---->
                </li>
                <li>
                    <!----><a class="text-decoration-none text-reset" href="https://www.nitpy.ac.in/old_website/SMDPWebsite/">SMDP</a>
                    <!---->
                </li>
                <li><a class="text-decoration-none text-reset" href="/GuestHouse">Guest House</a>
                    <!---->
                    <!---->
                </li>
                <li><a class="text-decoration-none text-reset" href="/hostel_facilities">Hostel Facilities</a>
                    <!---->
                    <!---->
                </li>
                <li><a class="text-decoration-none text-reset" href="/students/studentActivities/NCC">NCC</a>
                    <!---->
                    <!---->
                </li>
                <!---->
            </ul>
        </div>
        <div id="nationalPortals" class="mt-3 col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <div class="mb-3"><strong class="footerTitle">National Portals</strong></div>
            <div id="portal_wrapper">
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-6 col-xl-3">
                        <div id="portalLink">
                            <a href="https://www.india.gov.in/"><img src="assets/images/govsites/india.gov.png"></a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-6 col-xl-3">
                        <div id="portalLink">
                            <a href="https://digitalindia.gov.in/"><img src="assets/images/govsites/digindia.png"></a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-6 col-xl-3">
                        <div id="portalLink">
                            <a href="http://www.makeinindia.com"><img src="assets/images/govsites/makeinindia.png"></a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-6 col-xl-3">
                        <div id="portalLink">
                            <a href="https://data.gov.in/"><img src="assets/images/govsites/data.gov.png"></a>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-6 col-xl-3">
                        <div id="portalLink">
                            <a href="https://www.mygov.in/"><img src="assets/images/govsites/MyGov-logo.png"></a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-6 col-xl-3">
                        <div id="portalLink">
                            <a href="https://www.studyinindia.gov.in/"><img src="assets/images/govsites/study-in-india.png"></a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-6 col-xl-3">
                        <div id="portalLink">
                            <a href="https://www.education.gov.in/en"><img src="assets/images/govsites/ministryofeducation.png"></a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-6 col-xl-3">
                        <div id="portalLink">
                            <a href="https://indiaai.gov.in/"><img src="assets/images/govsites/indiaai.png"></a>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-6 col-xl-3">
                        <div id="portalLink">
                            <a href="https://www.istem.gov.in/"><img src="assets/images/govsites/istem.png"></a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-6 col-xl-3">
                        <div id="portalLink">
                            <a href="https://www.mic.gov.in/"><img src="assets/images/govsites/MoE-Logo.png"></a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-6 col-xl-3">
                        <div id="portalLink">
                            <a href="https://ekbharat.gov.in/"><img src="assets/images/govsites/ekbharat.png"></a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-6 col-lg-6 col-xl-3">
                        <div id="portalLink">
                            <a href="https://www.startupindia.gov.in/"><img src="assets/images/govsites/startup-india.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="social">
        <div id="icons_wrapper" class="d-flex justify-content-center mt-3 mb-3">
            <div id="facebook" class="socialIcon">
                <a target="_blank" href="https://www.facebook.com/NITPYOfficial/"><img src="assets/icons/facebook.png"></a>
            </div>
            <div id="twitter" class="socialIcon">
                <a target="_blank" href="https://twitter.com/nitpyofficial"><img src="assets/icons/twitter.png"></a>
            </div>
            <div id="youtube" class="socialIcon">
                <a target="_blank" href="https://www.youtube.com/channel/UCnx4kVjbf2j7y19rHNssjxQ"><img src="assets/icons/youtube.png"></a>
            </div>
            <div id="linkedin" class="socialIcon">
                <a target="_blank" href="https://in.linkedin.com/school/nitpuducherry/"><img src="assets/icons/linkedin.png"></a>
            </div>
            <div id="instagram" class="socialIcon">
                <a target="_blank" href="https://www.instagram.com/nitpuducherry/"><img src="assets/icons/instagram.png"></a>
            </div>
        </div>
    </div>
    <div id="copyrights" class="text-center p-1">
        <p> Copyright © 2023 <a routerlink="/webteam" class="text-decoration-none text-reset" href="/webteam"><strong  >Sai Sudhane</strong></a> @ NIT Puducherry </p>
    </div>
</footer>