<header class="text-white container-fluid">
    <div id="subheader" class="row">
        <div class="d-none d-lg-block d-xl-block d-sm-block d-md-block">
            <a routerLink="/" href="/">
                <img id="homeicon" src="assets/icons/home_icon.png">
            </a>
            |
            <a routerLink="#" href="#" class="text-decoration-none text-reset">About NITPY</a>
        </div>
        <div class="col text-right">
            <ul class="list-unstyled list-inline mb-0 mr-5">
                <li class="list-inline-item">
                    <a routerLink="#" href="#" class="text-decoration-none text-reset">Reach Us</a>
                </li>
                <li class="list-inline-item">|</li>
                <li class="list-inline-item">
                    <a routerLink="#" href="#" class="text-decoration-none text-reset">Contacts</a>
                </li>
                <li class="list-inline-item">|</li>
                <li class="list-inline-item">
                    <a routerLink="#" href="#" class="text-decoration-none text-reset">Webmail</a>
                </li>
                <li class="list-inline-item">|</li>
                <li class="list-inline-item">
                    <a routerLink="#" href="#" class="text-decoration-none text-reset">Employee Login(Samarth-eGov) </a>
                </li>

            </ul>
        </div>
    </div>

    <div id="mainheader" class="row">
        <div class="col">
            <a routerLink="/" class="text-decoration-none text-reset d-flex align-items-center">
                <img src="assets/images/logo.png" alt="NITPY logo" id="logo" class="m-3">
                <div class="ml-4">
                    <strong id="name">
                        தேசிய தொழில்நுட்பக்‌ கழகம்‌ புதுச்சேரி, காரைக்கால்‌<br>
                        राष्ट्रीय प्रौद्योगिकी संस्थान पुदुच्चेरी, कारैक्काल<br>
                        National Institute of Technology Puducherry, Karaikal<br>
                        An Institution of National Importance, Ministry of Education 
                    </strong>
                </div>
            </a>

        </div>
        <div class="col-5 d-none d-lg-block d-xl-block">
            <div class="row h-100">
                <div class="col d-flex align-items-center">
                    <div>
                        <img src="assets/icons/call.svg" alt="Call Icon" class="headerIcon">
                    </div>
                    <div class="m-2">
                        <strong>Call Us<br>
                        04368-265235
                    </strong>
                    </div>
                </div>
                <div class="col d-flex align-items-center">
                    <div>
                        <img src="assets/icons/email.svg" alt="Email Icon" class="headerIcon">
                    </div>
                    <div class="m-2">
                        <strong>Email<br>
                        registrar[at]nitpy[dot]ac[dot]in 
                    </strong>
                    </div>
                </div>
                <div class="col d-flex align-items-center">
                    <div>
                        <img src="assets/icons/location.svg" alt="Location Icon" class="headerIcon">
                    </div>
                    <div class="m-2">
                        <strong>
                    <a _ngcontent-vxj-c274="" href="https://www.google.com/maps/place/National+Institute+of+Technology+Puducherry/@10.9879324,79.845586,18.75z/data=!4m5!3m4!1s0x0:0xee7677dfa4776c23!8m2!3d10.98752!4d79.8451349">Location</a>
                </strong><br> Karaikal, Puducherry
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="navbar" class="row navbar navbar-dark bg-dark navbar-expand-lg p-0">
        <a href="" class="navbar-brand"></a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler collapsed">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarSupportedContent" class="col navbar-collapse justify-content-center collapse" style>
            <ul id="navItems" class="navbar-nav">
                <li class="navItem nav-item dropdown">
                    <div id="dropdown">
                        <a data-toggle="dropdown" id="navitem" routerLinkActive="active" class="nav-link dropdown-toggle active" href="/institute" aria-expanded="true">The Institute</a>
                        <div id="drop-content">
                            <ul id="dropItems" class="dropdown-menu">
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">About the Institute</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Campus and Facilities</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Rules and Regulations</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">RTI</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">CVC</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Public Grievances Cell</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Photo Gallery</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Contact Administration</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Forms to download</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">NIRF</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Women cell</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">ICC</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Spicmacy</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">IQAC</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Networks and Systems</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Support Center</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="navItem nav-item dropdown">
                    <div id="dropdown">
                        <a data-toggle="dropdown" id="navitem" routerLinkActive="active" class="nav-link dropdown-toggle active" href="#" aria-expanded="true">Academics</a>
                        <div id="drop-content">
                            <ul id="dropItems" class="dropdown-menu">
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Departments</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Academic office</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Admissions</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Exam Results</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Academic Calender</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Curriculum & Syllabi</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Institute Fee Structure</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">NEP-2020 cell</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Forms to download</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Rules & Regulations</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Convacation</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">NAD</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Scholarship</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Exam Schedule</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Physical Educaion</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Emails for contact</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Educational Verification Procedure</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="navItem nav-item dropdown">
                    <div id="dropdown">
                        <a data-toggle="dropdown" id="navitem" routerLinkActive="active" class="nav-link dropdown-toggle active" href="#" aria-expanded="true">Administration</a>
                        <div id="drop-content">
                            <ul id="dropItems" class="dropdown-menu">
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Visitor</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Chairman</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Director</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Board of Directors</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Senate</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Registrar</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Vigiliance Officer</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Deans</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Associate Deans</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Nodal Officer & Coordinators</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Heads of Departments</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Building & Work Committee</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Finance Committee</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Act, Statutes & Schedule</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Minutes of BoG, Senate & FC</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">List of Committees</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Annual Report</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Transparency & Audit submit</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Administration Staff</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Newsletter(Pariprashna)</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Campus Connect Newsletter</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Bulletin in Ph.D Newsletter</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Stores & Purchases</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </li>
                <li class="navItem nav-item dropdown">
                    <div id="dropdown">
                        <a data-toggle="dropdown" id="navitem" routerLinkActive="active" class="nav-link dropdown-toggle active" href="#" aria-expanded="true">Students Welfare</a>
                        <div id="drop-content">
                            <ul id="dropItems" class="dropdown-menu">
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Rules & Regulations</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Financial Assistance</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Internship</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Counselling Services</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Clubs & Committees</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Student Council</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Annual Fest</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Student Activities</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">International Youth Exchange Program</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Forms to download</a>
                                </li>

                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Medical Facilities</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Alumini Relation</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="navItem nav-item dropdown">
                    <div id="dropdown">
                        <a data-toggle="dropdown" id="navitem" routerLinkActive="active" class="nav-link dropdown-toggle active" href="#" aria-expanded="true">Hostel</a>
                        <div id="drop-content">
                            <ul id="dropItems" class="dropdown-menu">
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Hostel Administration</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Hostel Facilities</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Rules and Regulations</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="navItem nav-item dropdown">
                    <div id="dropdown">
                        <a data-toggle="dropdown" id="navitem" routerLinkActive="active" class="nav-link dropdown-toggle active" href="#" aria-expanded="true">Faculty and Staff</a>
                        <div id="drop-content">
                            <ul id="dropItems" class="dropdown-menu">
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Administration Head Directory</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Dean Directory</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">HoD Directory</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Faculty Directory</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Faculty on Contract Directory</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Office Directory</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">P&D Directory</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Staff Directory</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Carrer</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Forms to download</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="navItem nav-item dropdown">
                    <div id="dropdown">
                        <a data-toggle="dropdown" id="navitem" routerLinkActive="active" class="nav-link dropdown-toggle active" href="#" aria-expanded="true">Research & Consultancy</a>
                        <div id="drop-content">
                            <ul id="dropItems" class="dropdown-menu">
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Research & Consultancy Office</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">IEEE</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">List of R&D Committees</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Patents</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Funded Project</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Journals</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Book Chapter</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Conference</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Consultancy Projects</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">IPR Cell</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Forms to Download</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">IIC</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">NISP</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Industrial Consultancy</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">MoU</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="navItem nav-item dropdown">
                    <div id="dropdown">
                        <a data-toggle="dropdown" id="navitem" routerLinkActive="active" class="nav-link dropdown-toggle active" href="#" aria-expanded="true">Placement & Training</a>
                        <div id="drop-content">
                            <ul id="dropItems" class="dropdown-menu">
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">About</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Placement Procedure</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Training, Program & Activities</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Infrastructure Facilities</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Placement Statistics</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Testimonial</a>
                                </li>
                                <li class="dropItem dropdown-item p-0">
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>