<div class="s-wrapper swiper swiper-container swiper-container-initialized swiper-container-horizontal" aria-live="off">
    <div class="swiper-wrapper">
        <div class="swiper-slide" style="width: 525px;">
            <img class="slide-image " src="assets/images/instituteCarousel/img012.jpg" alt="">
        </div>
        <div class="swiper-slide" style="width: 525px;">
            <img class="slide-image" src="assets/images/instituteCarousel/img011.jpg" alt="">
        </div>
        <div class="swiper-slide" style="width: 525px;">
            <img class="slide-image" src="assets/images/instituteCarousel/img003.jpg" alt="">
        </div>
        <div class="swiper-slide" style="width: 525px;">
            <img class="slide-image" src="assets/images/instituteCarousel/img004.jpg" alt="">
        </div>
        <div class="swiper-slide" style="width: 525px;">
            <img class="slide-image" src="assets/images/instituteCarousel/img014.jpg" alt="">
        </div>
        <div class="swiper-slide" style="width: 525px;">
            <img class="slide-image" src="assets/images/instituteCarousel/img016.jpg" alt="">
        </div>
        <div class="swiper-slide" style="width: 525px;">
            <img class="slide-image" src="assets/images/instituteCarousel/img102.jpg" alt="">
        </div>
        <div class="swiper-slide" style="width: 525px;">
            <img class="slide-image" src="assets/images/instituteCarousel/img104.jpg" alt="">
        </div>
        <div class="swiper-slide" style="width: 525px;">
            <img class="slide-image" src="assets/images/instituteCarousel/img106.png" alt="">
        </div>
    </div>

</div>