<div class="card-header mb-0">
    <div class="univ-logo mb-4 pb-2">
        <img src="assets/images/logo.png" alt="" style="width:100px; height:100px">
    </div>
    <h4 class="mt-0"><strong>Sign Up</strong></h4>
    <span class="splash-description">Please enter your user information.</span>
</div>
<div class="card-body" id="body">
    <div *ngIf="error" class="alert alert-danger">
        {{ error }}
    </div>
    <form id="register-form" (ngSubmit)="onRegister()" method="post">
        <input type="hidden" name="_csrf" value="EljT9HBN5RPTHCNge_z9wnMomHPi4tcu-sA0uOJ2085AAOW2OD62SqRPWgIelrKRGV3KBrOq7huvglXcsBmq4w==">
        <!-- Roll Number input field -->
        <div class="form-group">
            <label class="control-label" for="roll_no">Roll Number</label>
            <input type="text" id="roll_no" class="form-control" name="roll_no" autofocus="" placeholder="Enter Roll Number" aria-required="true" aria-invalid="true" [(ngModel)]="rollNo">
        </div>
        <div class="form-group">
            <label class="control-label" for="name">Name</label>
            <input type="text" id="name" class="form-control" name="name" autofocus="" placeholder="Enter Name" aria-required="true" aria-invalid="true" [(ngModel)]="name">
        </div>
        <div class="form-group">
            <label for="department" class="control-label">Department</label>
            <select id="department" name="department" [(ngModel)]="department" class="form-control">
              <option value=1>Computer Science & engineering</option>
              <option value=2>Electronics & communication</option>
              <option value=3>Electrical & Electronics Engineering</option>
              <option value=4>Mechanical Engineering</option>
              <option value=5>Civil Engineering</option>
            </select>
        </div>

        <div class="form-group">
            <label for="year" class="control-label">Year</label>
            <select id="year" name="year" [(ngModel)]="year" class="form-control">
              <option value=1>I</option>
              <option value=2>II</option>
              <option value=3>III</option>
              <option value=4>IV</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" for="email">Email</label>
            <input type="text" id="email" class="form-control" name="email" autofocus="" placeholder="Enter Email" aria-required="true" aria-invalid="true" [(ngModel)]="email">
        </div>
        <!-- Password input field -->
        <div class="form-group">
            <label class="control-label" for="password">Password</label>
            <input type="password" id="password" class="form-control" name="password" placeholder="Password" aria-required="true" [(ngModel)]="password">
            <p class="help-block help-block-error"></p>
        </div>
        <!-- Submit button -->
        <div class="form-group pt-2">
            <button type="submit" name="Register-button" id="submit">Register</button>
        </div>
        <!-- Forgot Password and First Time Login links -->
        <div class="forgot-pass text-center mb-3">
            <a href="javascript:void(0)" (click)="onLog()">Sign In</a>
        </div>
    </form>
</div>